.mapContainer {
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
}
.dialog {
    position: absolute;
    z-index: 1500; /*需大於mapContainer才能顯現在最上層*/
    bottom: 10%;
    right: 5%;
}

.checkbox {
    position: absolute;
    z-index: 1500; /*需大於mapContainer才能顯現在最上層*/
    top: 10%;
    right: 5%;
}

.pacityrange {
    position: absolute;
    z-index: 1500; /*需大於mapContainer才能顯現在最上層*/
    top: 10%;
    right: 5%;
}

.legend {
    position: absolute;
    z-index: 1500; /*需大於mapContainer才能顯現在最上層*/
    bottom: 5%;
    right: 35%;
    pointer-events: none;
}
.legend > * {
    cursor: grab;
    pointer-events: all;
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
}

/* .legend :deep(.tick) {
  stroke-width: 2px;
  color: black;
} */

.legend :deep(text) {
    font: bold 16px sans-serif;
    fill: black;
    paint-order: stroke;
    stroke-width: 2px;
    stroke: white;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.pgaLegend :deep(svg > g:first-child),
.depthLegend :deep(image) {
    outline: solid 2px black;
}

.pgaLegend :deep(rect) {
    background: linear-gradient(#e66465, #9198e5);
}

.pgaLegend :deep(.tick > line) {
    display: none;
}

/* Checkbox */
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    outline: solid 1px black;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196f3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* opacity range */
.opacityrange,
.opacityrange::-webkit-slider-runnable-track,
.opacityrange::-webkit-slider-thumb {
    -webkit-appearance: none;
}
/* input range 主體樣式 */
.opacityrange {
    height: 80px;
    width: 200px;
    overflow: hidden;
    cursor: pointer; /* 滑鼠放上會改變鼠標樣式 */
    outline: none; /* 取消底線效果 */
    /* background-color: white; 為了解釋方便所設定  */
    /* background-color: grey; */ /* 我的目標樣式 */
    margin: 0 10px 0;
    /* border-style: ridge; /*邊框 */
    /* border-color: #000000;
    border-radius: 10px; */
}
/* 滑動軌道 樣式 */
.opacityrange::-webkit-slider-runnable-track {
    height: 6px;
    width: 150px;
    border-radius: 4px;
    background: #aaa;
}
/* 滑動鈕 樣式 */
.opacityrange::-webkit-slider-thumb {
    position: relative;
    height: 16px;
    width: 16px;
    margin-top: -5px; /* 會受到寬高影響定位，需微調 */
    background-color: tomato; /* 為了解釋方便所設定 */
    /* background-color: white; */ /* 我的目標樣式 */
    border-radius: 50%;
    border: 1px solid black;
}
